<form [formGroup]="form" class="form-signin" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Register</h1>
    <div class="form-floating">
        <label>First name</label>
        <input formControlName="firstName" type="text" class="form-control" placeholder="John" required>
    </div>
    <div class="form-floating">
        <label>Last Name</label>
        <input formControlName="lastName" type="text" class="form-control" placeholder="Dou" required>
    </div>
    <div class="form-floating">
        <label>Email</label>
        <input formControlName="email" type="email" class="form-control" placeholder="exampele@email.com" required>
    </div>
    <div class="form-floating">
        <label>Username</label>
        <input formControlName="username" type="text" class="form-control" placeholder="Username" required>
    </div>
    <div class="form-floating">
        <label>Password</label>
        <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-floating">
        <label>Confirm Password</label>
        <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Password" required>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
</form>